
p 
{
    font-family: "Courier New", Times, serif;
    color: white;
    font-size: 14pt;

    border: 5px solid black;
} 

h1
{
    text-align: center;
    color:red;
}

body 
{
    background:linear-gradient(60deg,#FF66FF,00FFFF;
}
